.list{
  margin-bottom:25px;
  height: 360px;
}

.list p{
  cursor: pointer;
  text-transform: capitalize;
  text-decoration: underline;
}

.list img{
  max-width: 200px;
}

.details img{
  max-width: 100%;
}

.loader{width: 100%;height:100%;position:fixed;background:rgba(0,0,0,0.5);z-index: 1000;top:0px;left:0px;}
.loader span,
.loader span:after {
  border-radius: 50%;
  width: 90px;
  height: 90px;
}
.loader span{
  display: block;
  margin: 20% auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}