<div class="container">
    <div class="row">
        <section class="col-sm-12">
            <h1 class="text-center"><span>{{cardDetails.name}}</span></h1>
        </section>
    </div>
</div>
<div class="details col-xs-12 col-sm-6 col-md-4 text-center">
    <img ng-src="http://52.57.88.137/api/card_image/{{cardDetails.name}}" class="img-fluid">
</div>
<div class="col-xs-12 col-sm-6 col-md-8">
    <p ng-repeat="(key, value) in cardDetails" ng-if="key != 'name' && key != 'text' && value" class="text-capitalize"><b>{{key | formatTitle}}:</b> {{value}}</p>
    <p><b>Details:</b> {{cardDetails.text}}</p>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 text-center">
    <a href="/" class="btn btn-small btn-default">Back</a>
</div>