<div class="container">
	<div class="row text-center">
	    <section class="col-sm-12">
	        <h1>Yu-Gi-Oh Cards</h1>
	    </section>
	    <p>Click on the name or image to see more details. Click on the type to filter cards of the same type</p> 
	    <p ng-if="filterTo" ng-click="resetFilter()" class="btn btn-small btn-default">Reset Filter</p>
	</div>
</div>
<div class="list col-xs-12 col-sm-6 col-md-4 text-center" ng-repeat="card in cards | filter:{type: filterTo}">
    <h4><a href="/{{card.name}}">{{card.name}}</a></h4>
    <p ng-click="filterType(card.type)" title="Click to Filter">{{card.type}}</p>
    <a href="/{{card.name}}"><img ng-src="http://52.57.88.137/api/card_image/{{card.name}}" class="img-fluid img-thumbnail"></a>
</div>